﻿@using System.Web.UI.WebControls
@using System.Web.UI.WebControls.Expressions
@using realtor_helper.Controllers
@using realtor_helper.Models
@model realtor_helper.Models.House

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>House</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2" for="AgentID">Agents</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AgentID, (SelectList)ViewBag.AgentID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AgentID)
            </div>
        </div>

        @Html.HiddenFor(m => m.HouseID)
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            List<realtor_helper.Views.ViewModels.AssignedFeatureData> features = ViewBag.Features;

                            foreach (var feature in features)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                        }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedFeatures"
                                           value="@feature.FeatureID"/>
                                     @:  @feature.Description
                                    @:</td>
                    }
                            @:</tr>
                        }
                    </table>
                </div>
            </div>
        
       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
