﻿@model realtor_helper.Models.House

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>

<div>
    <h4>House</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Agent
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agent.FullName)
        </dd>
        <dt>
            Features
        </dt>
        <dd>
            @{
                foreach (var feature in Model.Features)
                {
                    @feature.Description <br />
                }
            }
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HouseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
