﻿@model realtor_helper.Views.ViewModels.AgentIndexData

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Phone 
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Agents)
    {
        string selectedRow = "";
        if (item.AgentID == ViewBag.AgentID)
        {
            selectedRow = "success";
        } 
        <tr class="@selectedRow"/>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.AgentID }) |
                @Html.ActionLink("Edit", "Edit", new {id = item.AgentID}) |
                @Html.ActionLink("Details", "Details", new {id = item.AgentID}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.AgentID})
            </td>
        </tr>
    }
</table>

@if (Model.House != null)
{
    <h3>Selected House</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.House)
        {
            string selectedRow = "";
            if (item.HouseID == ViewBag.CourseID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new {HouseID = item.HouseID})
                </td>
                <td>
                    @item.HouseID
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }
    </table>
}

@if (Model.Features != null)
{
    <h3>
        Selected House Features
    </h3>
        <table class="table">
            <tr>
                <th>Features</th>
            </tr>
            @foreach (var item in Model.Features)
            {
                <tr>
                    <td>
                        @item.Description
                    </td>
                </tr>
            }
        </table>
}

